@import '../base/colors.scss';
@import '../base/fonts.scss';

.comments-head {
    font-family: 'Alfa Slab One', cursive;
    font-weight: 700;
    letter-spacing: .05rem;
    font-size: 12px;

}

 .comments-form-buttons {
     display: flex;
     font-family: Arial, Helvetica, sans-serif;
 }

 .comments-input {
     font-family: Arial, Helvetica, sans-serif;
 }
 .comments-container-head-title {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 12px;
 }

 .comments-container {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 12px;
 }

 .comments-form-buttons {
    text-align: right;
 }