@import "../base/colors.scss";
@import "../base/fonts.scss";

.main-app {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.splash-outer-container {
    width: 100%;
    height: auto;
}

.home-page-main-body {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page-header {
    padding: 40px;

    .home-page-title {
        font-size: 31px;
        font-weight: 700;
        padding: 8px;
        font-family: $karnak;
        text-align: center;
    }

    .home-page-subtitle {
        text-transform: uppercase;
        font-family: $serif;
        font-size: 12px;
        text-align: center;
        letter-spacing: 1px;
    }

    .see-all-link  {
        text-transform: uppercase;
        font-family: $serif;
        font-size: 12px;
        text-align: center;
        letter-spacing: 1px;
        cursor: pointer;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
    }
}

.recipe-card-header {
    text-align: left;

    .recipe-card-header-title,
    .recipe-card-header-subtitle {
        font-family: $serif;
        font-size: 28px;
    }

    .recipe-card-header-title {
        color: $black;
        padding-top: 10px;
        border-top: 7px solid $black;
        text-decoration: underline;
    }

    .recipe-card-header-subtitle {
        color: #999999;
        padding-bottom: 25px;
    }
}