@import '../base/colors.scss';
@import '../base/fonts.scss';

.ingredients-box {
    border-top: 5px solid $black;
}

.ingredients-title {
    padding-top: 1px;
    padding-bottom: 20px;
    font-family: $karnak;
    font-weight: 700;
    letter-spacing: .15em;
    font-size: 16px;
    line-height: 1.45;
}

.recipe-yield-box {
    font-family: $sans-serif-bold;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: .02em;
    line-height: 1.45;
    padding-top: 10px;
}

.ingredients-list-item {
    display: flex;
    font-size: 17px;
    font-family: $sans-serif;
    font-weight: 500;
    letter-spacing: .02em;
    line-height: 1.45;
    padding-bottom: 10px;
}

.ingredients-amount {
    min-width: 45px;
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    text-align: right;
    box-sizing: content-box;
}

.ingredients-name {
    text-align: left;
    vertical-align: top;
    padding-left:  5px;
}