.ingredients-box {
    margin: 10px;
}

.ingredients-list-item {
    display: flex;
}

.ingredients-title {
    font-family: 'Alfa Slab One', cursive;
    font-weight: 600;
    letter-spacing: .05rem;
    font-size: 12px;
}

.ingredients-amount {
    min-width: 50px;
    display: inline-block;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 18.6px;
    vertical-align: top;
    padding-left:  5px;
    text-align: right;
    box-sizing: content-box;
}

.ingredients-name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-align: left;
    line-height: 18.6px;
    vertical-align: top;
    padding-left:  5px;
    width: 70%
}