@import '../base/colors.scss';
@import '../base/fonts.scss';

.average-rating-box {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    .average-rating-bolded {
        font-family: $sans-serif-bold;
        font-size: 16px;
        font-weight: 700px;
        margin-right: 30px;
    }

    .average-rating-empty, 
    .average-rating-filled {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: $sans-serif;
        font-size: 16px;
        font-weight: 300px;

        .star-rating {

            .average-rating-value{
                padding-right: 5px
            }

            .average-star-off {
                color: $lighter-gray;

            }

            .average-star-on {
                color: $black;
            }

            .average-rating-amount {
                padding-left: 5px
            }
        }
    }
}

.ratings-head {
    padding-top: 1px;
    padding-bottom: 20px;
    font-family: $karnak;
    font-weight: 700;
    letter-spacing: .15em;
    font-size: 16px;
    line-height: 1.45;
    text-transform: uppercase;
}

.ratings-avg {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    border-bottom: 1px solid $lighter-gray;

    .ratings-avg-star-large {
        font-size: 40px;
        padding-right: 15px;
    }

    .ratings-avg-text-bolded{
        font-family: $sans-serif-bold;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: .02em;
        line-height: 1.45;
        
    }

    .ratings-avg-text-light{
        font-family: $sans-serif;
        font-weight: 300;
        font-size: 14px;
        padding-top: 2px;
        color: $light-gray;
        padding-bottom: 25px;
    }
}

.ratings-input-box {

    .ratings-user-rating {

        .ratings-user-star-on {
            color: $btn-red;
        }
        
        .ratings-user-star-off {
            color: $lighter-gray
        }
    }
}