
.recipe-show-steps-ingredients-box {
    display: flex;
}

.recipe-show-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
}

.recipe-time-yield-bolded {
    font-family: 'Alfa Slab One', cursive;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .05rem;
}
.recipe-show-author {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
}

.recipe-time-yield {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.recipe-show-description-photo-box {
    display: block;
    align-items: center; 
}
.recipe-show-photo {
    vertical-align: middle;
}
.recipe-show-description {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    line-height: 1.4;
}

.recipe-show-steps-ingredients-list {
    width: 30%;
}

.recipe-show-steps-list {
    width: 70%;
}

// .recipe-show-description-photo-box {
//     display: flex;
// }