@import '../base/colors.scss';
@import '../base/fonts.scss';

.home-page-recipe-card-container {
    position: relative;
    width: 1000px;
    height: 450px;
}

.recipe-card-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.recipe-card {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    transition: all .5s ease-in 0s;
}

.recipe-card-border {
    height: 278px;
    width: 235.5px;
    position: relative;
    background-color: white;
    border: 1px solid $photo-background;
    margin-right: 17px;
    box-sizing: border-box;

    &:hover {
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
        transition: all .2s ease-in 0s;
    }
}

.recipe-card-photo {
    width: 233.5px;
    height: 157px;
}

.recipe-card-content {
    margin: 12px 14px 6px 14px;
    height: 157px;

    .recipe-card-dishname {
        font-size: 17px;
        font-family: $sans-serif-bold;
        font-weight: 700;
        color: $darker-gray;
        text-decoration: none;
    }

    .recipe-card-author {
        font-size: 13px;
        padding-top: 3px;
        font-family: $sans-serif;
        color: $darker-gray;
        text-decoration: none;
    }
}

.recipe-card-footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 12px;
    width: 210.5px;
    font-size: 12px;
    font-family: $sans-serif-thin;
    color: #999999;
    padding-left: 14px;
    
    cursor: pointer;
}

.recipe-card-box {
    position: relative;
    padding-right: 2px;
    padding-bottom: 20px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
  












