.steps-box {
    margin: 10px;
}
.steps-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}
.steps-list {
    font-size: 15px;
    line-height: 1.45em;
    font-weight: 400;
}
.steps-list-item {
    margin-bottom: 30px;
}

.step-number {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.step-content {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}