.steps-box {
    margin: 10px;
}
.steps-title {
    font-family: 'Alfa Slab One', cursive;
    font-weight: 600;
    letter-spacing: .05rem;
    font-size: 12px;
}
.steps-list {
    font-size: 13px;
    line-height: 1.45em;
    font-weight: 400;
}
.steps-list-item {
    margin-bottom: 30px;
}

.step-number {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.step-content {
    font-family: Arial, Helvetica, sans-serif;
}